# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor Folders
.idea
.vscode

# Unit test / coverage reports
htmlcov/
.coverage
.cache/

# Build
_build
docs/.buildinfo
docs/*.inv
*.rat.cpp
*.so
*.dll 
*.dylib
*.obj
*.exp
*.lib
*.a
*.egg-info/
build/*
dist/*
*.whl

# Local pre-commit hooks
.pre-commit-config.yaml

# Jupyter notebook checkpoints
.ipynb_checkpoints/*
